@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

* {
    box-sizing: border-box;
}

.example-wrapper { 
    margin: 1em auto; 
    max-width: 800px; 
    width: 95%; 
    font: 18px/1.5 sans-serif; 
}

.example-wrapper code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}

body {
    background-color: lightblue;
    color: #17242C;
    font-family: 'Roboto Condensed', sans-serif;
}

.todo-list {
    padding: 7px 0;
    width: 50%;
    margin: auto;
}

.add-form {
    color: #17242C;
    background-color: pink;
    padding: 7px 0;
    width: 100%;
    margin: auto;
}

.add-form-centered {
    width: 50%;
    margin: auto;

}